<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Wasp</h2>
                    <h3 class="section-subheading text-muted">The Wasp System is an integrated LIMS and batch processing system.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Integrated</h4>
                    <p class="text-muted">The Wasp System integrates LIMS functionality, sample management, job submission, and automated analytical workflows for massively parallel sequencing.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Powerful</h4>
                    <p class="text-muted">Integrate the Wasp System with your local high performace computing system.  Configure more as your needs grow.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-puzzle-piece fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Extensible</h4>
                    <p class="text-muted">The Wasp System is designed from its core to be extensible. Develop plugins for workflows, software, and assays.</p>
                </div>
            </div>
        </div>
    </section>
